@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    
}
html,body{
    width:100%;
    height:100%;
    overflow-x: hidden;  
}
/*Logo design starts*/
.logo{
    margin:10px 0 0 30px;
    float: left;

}
/*Logo design ends*/
/*Navigation design starts*/
#navigation{
    width: 100%;
    height: 9.5vh;
    list-style: none;
}
.nav-links .left{
    margin-left: 30px;
    width: 50%;
}
.nav-links{
    float: left;
}
.nav-links ul{
    padding:25px 0;
}
.nav-links li{
    display: inline;
}
.nav-links a{
    text-decoration: none;
    color: #000;
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;    
}
#btn{
    color: #000;
    background-color: #fff;
    padding: 2px 10px;
    margin-left: 5px;
    border: 1px solid #000;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:20px ;
    cursor: pointer;
}
.right{
    float: right;
}
.right ul{
    padding: 16px 0;
}
#menu{
    display: none;
}
#web{
    background-color: 	#FFC0CB;
    padding: 10px 13px;
    border-radius:20px;
}
.right .paid{
    padding: 10px 20px;
    border-radius:25px;
}
.right .paid:hover{
    background-color: #04AA6D;
    color: #fff;
}
#btn-primary{
    background-color: #04AA6D;
    color: #fff;
    padding: 12px 40px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius:20px;
}
#btn-primary:hover{
    background-color: #058e5c;
}
.right-content ,.fa-circle-half-stroke:hover, .fa-earth-americas:hover, .fa-magnifying-glass:hover{
    color: #04AA6D;
}
.right li #web:hover{
    color: #fff;
    background-color: #04AA6D;
}
/*Navigation design ends*/
/*Body design starts*/
#body{
    background: #282A35!important;
    height:65%;
}
.main-head{
    padding-top: 80px;
}
.main-head h1{
    color: #fff;
   font-size: 75px;
    margin-top: 20px;
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
}
.main-head h3{
    color:#FFC0C7 ;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 28px;
}
.main-head .search{
    position: absolute;
    left:45%;
    padding: 30px 0;
}
.main-head h4{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-top: 40px;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1.5px;
}
.search-container {
    position: relative;
    left:35%;
    margin-top: 30px;
  }
  
  .search-container input[type=text] {
    width:30%;
    padding: 14px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
    border-radius:25px;
  }
  
  .search-container button { 
    padding: 14px 35px;
    margin-left: -90px;
    background: #04AA6D;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
  }
  ::placeholder{
      font-weight: bold;
  }
/*Body design ends*/
/*Body-2 design starts*/
#body-2{
    background-color: #D9EEE1;
    height: auto;
    position:relative;
    top:-5px;
    display: flex;
}
.left-content{
    width:50%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}
.left-content h1{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin-top: 80px;
}
.left-content p{
    font-size: 19px;
    margin-top: 1em;
    margin-bottom: 1.2em;
    letter-spacing: 1.5px;
    font-weight: 600;
    
}
#btn-A, #btn-B, #btn-C {
    display: block;
    width: 230px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    margin: auto;
    padding:10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.left-content #btn-A{
    background-color: #04AA6D;
    color: white;
}
.left-content #btn-A:hover{
    background-color: #058e5c;
}
.left-content #btn-B{
    background-color: #FFF4A3;
    color: #000;
    position: relative;
}
.left-content #btn-B:hover{
    background-color: #fdef81;
}
.ws-pink{
    background-color: #FFC0C7;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    position:absolute;
    left:-20px;
    top:-10px;
    transform: rotate(-20deg); 
}
.left-content #btn-C{
    background-color: #282A35;
    color: #fff;
}
.left-content #btn-C:hover{
    background-color: #1c1d22;
}
.right-content{
    width:40%;
    height:70%;
    background-color: #E7E9EB;
    margin-top: 90px;
    margin-bottom: 140px;
    padding-bottom:20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); 
}
#body-2 .right-content, #body-3 .right-content, #body-4 .right-content{
    margin-bottom: 100px;
}
.right-content h3{
    font-size: 24px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 500;
    margin: 30px 0 0 30px;
}
.white-space{
    width: 92%;
    height: 60%;
    background-color: #fff;
    margin: 20px 60px 0 30px;
    padding:10px 20px;
    border-left: 5px solid #04AA6D;
}
.white-space p{
    font-size: 17px;
    font-family: Consolas,Menlo,"courier new",monospace;
    letter-spacing: 1px;
    color: mediumblue;
}
.btn-down{
    margin: 20px 0 0 40px;
}
.btn-down #btn-down{
    background-color: #04AA6D;
    color: #fff;
    width: 180px;
    font-size: 18px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.btn-down #btn-down:hover{
    background-color: #058e5c;
}
/*Body-2 design ends*/
/*Same height for body section design starts*/
#body-3, #body-4,#body-5,#body-6{
    height: auto;
    position:relative;
    top:-5px;
    display: flex;
}
/*Same height for body section design ends*/
/*Body-4  design starts*/
 .black h1, .black p{
    color: #fff;
}
.black #btn-B{
    background-color: #fff;
}
.black #btn-B:hover{
    background-color: #E7E9EB;
}
.second p{
    color: brown;
}
/*Body-4 design ends*/
/*Section language design starts*/
#language{
    background-color: #282A35;
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
    top:-10px;
    padding: 130px 150px;
}
.col{
    float: left;
    width: 45%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    margin: 0 40px 40px 10px;
}
.one{
    background-color:   #FFC0C7;
}
.two{
    background-color:  #FFF4A3;
}
.three{
    background-color: #F3ECEA;
}
.four{
    background-color: #D9EEE1
}
.five{
    background-color: #96D4D4
}
.six{
    background-color: #E7E9EB
}
.row h2{
    font-size: 45px;
    font-weight: 700;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-top: 40px;
}
.row h5{
    margin-top: 20px;
    font-size: 18px;
}
.col .btn{
    color: #fff;
    background-color: #282A35;
    margin: 50px 0;
    padding:10px 70px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
}
.col .btn:hover{
    background-color: #000;
}
.column-top{
    float: left;
    width: 45%;
    height: 16vh;
    text-align: center;
    border-radius: 10px;
    margin: 0 40px 40px 12px;
    cursor: pointer;
}
.pink{
    background-color: #FFC0C7!important;
}
.yellow{
    background-color: #FFF4A3!important;
}
.column-top h5, .column-bottom h5{
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}

.column-bottom{
    float: left;
    width: 45%;
    height: 14vh;
    text-align: center;
    border-radius: 8px;
    margin: 40px 40px 0 12px;
    cursor: pointer;
}

.excel{
    background-color: #96D4D4!important;
}
.sheet{
    background-color: #FFF4A3!important;
}
.machine{
    background-color: #FFC0C7!important;
}
.ai{
    background-color: #F3ECEA!important;
}
.statistics{
    background-color: rgb(243, 236, 234) !important
}
.data{
    background-color: rgb(217, 238, 225) !important;
    margin-bottom: 100px;
}
/*Section language design ends*/
/*Section color design starts*/
#color{
    height:auto;
    background-color: #F3ECEA;
    text-align: center;
    position:relative;
    top:-10%;
    padding: 50px 50px 100px 50px;
}
#color h2 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 20px;
}
#color h4{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
/*Section color design ends*/
/*Section codegame design starts*/
#codegame{
    background-color: #96D4D4;
    height: auto;
    position:relative;
    top:-100px;
    text-align: center;
    padding: 100px 0;
}
#codegame h1{
    font-size: 48px;
    font-family: 'Freckle Face', cursive;
    margin-bottom: 10px;
    
}
#codegame h2{
    font-size: 32px;
    font-family: 'Freckle Face', cursive;
    margin-bottom: 40px;
    
}
#btn-game{
    background-color: #282A35;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 12px 50px;
    font-size: 20px;
    margin-left: -150px;
    border-radius: 25px;  
}
#btn-game:hover{
    background-color: #000;
}
/*Section codegame design ends*/
/*Responsive design starts*/
@media (max-width:1310px){
    .nav-links li .menu, #btn{
        display: none;
    }
    .nav-links li .paid{
        display: none;
    }
    .left li a:hover{
        color:#000;
        background-color: transparent;      
    }
    .search-container{
        position: relative;
        left:30%;
    }
    .search-container input[type=text] {
        width:40%;     
    }   
    .col{
        width: 100%;
        height: auto;
    }
    .column-top, .column-bottom{
        width: 100%;
    }
    .right-content {
        padding-right:10px;
    }
    
   
}
@media (max-width:1100px){
    .nav-links li .vid, .pro{
        display: none;
    }
    .search-container{
        position: relative;
        left:25%;
    }
    .search-container input[type=text] {
        width:50%;     
    }
    #language{
        padding:130px 70px;
    }
    #body-2, #body-3{
        flex-direction: column;
        padding: 0 30px;
    }
    .left-content, .right-content{
        width: 100%;
    }
    .right-content{
        padding: 10px 5px;
        margin-top: -10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .white-space{
        width:95%;
    }
    .column{
        width:100%;
    }
    
}

@media (max-width:900px){
    .nav-links li #web, .tutorials, .references, .exercises{
        display: none;
    }
    .nav-links li #menu{
        display: inline;
        margin-left: 30px;
    }
    .search-container{
        position: relative;
        left:20%;
    }
    .search-container input[type=text] {
        width:60%;     
    } 
    .white-space{
        width:93%;
    }
}
@media (max-width:600px){
    .nav-links .fa-circle-half-stroke{
        display: none;
    }
    .right li a{
        padding: 5px;
    }
    .search-container{
        position: relative;
        left:10%;
    }
    .search-container input[type=text] {
        width:80%;     
    }
    ::placeholder{
        font-size: 15px;
    }
    #language{
        padding: 50px;
    }
    .right-content{
        display: none;
    }
    .column-top, .column-bottom{
        width:100%;
    }
}
@media (max-width:480px){
    .right .fa-earth-americas, .right .fa-magnifying-glass{
        display: none;
    }
    .main-head h1{
        font-size: 50px;
    }
    .main-head h3{
        font-size: 18px;
        padding: 10px;
        
    }
    .main-head h4{
        font-size: 20px;
    }
    #menu{
        margin-left: -30px;
    }
    #language{
        padding: 50px 10px;
    }
    .row{
        margin-right:20px ;
    }
    .left-content h1{
        font-size: 60px;
    }
    .column-top h5, .column-bottom h5{
        font-size: 25px;
    }
    
}
@media (max-width:400px){
    #menu{
        margin-right: -25px;
    }
    #btn-primary {
       padding: 10px 20px;
       margin-right: 5px;
    }
    .left-content h1{
        font-size: 40px;
    }
    .column-top h5, .column-top h5{
        font-size: 20px;
    }
}

/*Responsive design ends*/
